
.home-header{
  font-family: 'Russo One',monospace ;
color: cornflowerblue;

margin-top:2vh;



}
.home-container {
  display: grid; /*grid display*/
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-areas: "a b c";
  
  
 
}

.home-center {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 5vh;
  width: 100%;
  border:  inset;
}


