
  .tweets-on-render {
    width: 90%;
    gap: 10vh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-pos{
    width: 90%;

  }
#tweet-image-upload{
  display: inline-block;
  margin: 1rem 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
 
  color: #333;
  
  padding: 1rem 1rem;
  border-radius: 4px;


}
  
