
.profile_container {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-areas: "a b c";
  gap:3vw
}



.profile-center {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 5vh;
  width: 100%;
 
}


.card-pos{
  width: 90%;

}