.UserPersonalCard {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 20px;
  margin-left: 210px;
}

@media screen and (max-width: 960px) {
  .UserPersonalCard {
    margin-left: 0;
  }
}


.UserPersonalCard{
  width:3em
}