.left-container{
  position: relative  ;
   border: inset  ;
   width:100%
}
/* .left {
 
  width:100%;


} */

p {
  margin-left: 2vh;
  text-decoration: none;
  color:#000000;
  font-size: 20px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
