.profilee {
  display: flex;
  flex-direction: column;
}


.profileRight {
  flex: 5;
}

.profileCover {
  height: 90%;
  width:90%;
  position: relative;
}
p ,h2{
  font-family: sans-serif;
}



.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.profileUserImg {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  margin-left: 5px;

  top: 150px;
  border: 4px solid white;
}



  .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 1.5em auto;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    height: 200px;
    border-bottom: 5px inset rgb(240, 241, 242);
    border-radius: 5px;
  }

.profileInfoName {
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-family: sans-serif;
}

.profileInfoCounts {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 1.2em;
}

.profileInfoCounts > div {
  text-align: center;
  width: 50%;
}



.profileInfoDesc {
  font-weight: 300;
}



